/* Geral */
* {margin:0;padding:0;text-decoration: none; list-style: none;}
body {font-family: 'Ubuntu', sans-serif; font-size: 120%; height: 100%; width: 100%; box-sizing: border-box;}

.container {max-width: 960px; width: 100%; margin: 0 auto;}

/* Header */
.grid {display: grid; grid-template-columns: 1fr 1fr; align-items: center;}
header {padding: 1em 0;width: 100%; box-shadow: 0px 3px 3px #c1c1c1;}

/* Logo */
.logo{background-image: url('../img/Logo-Poupe.png'); background-repeat: no-repeat; background-position: center center; background-size: 100% 100%; width: 150px; height: 50px; text-indent: -999999px;}

/* Menu */
#menu ul {float: right;}
#menu ul li {display: inline; margin-left: 1.20em;}
#menu ul li a{font-size: 0.8em; line-height: 1.2em; color: #000;}

/* Botões */
.btn{border: none; width: 150px; height: 40px; font-size: 0.9em; cursor: pointer;}
#menu .btn-login{background-color: #009EBC;padding: .75em 2.5em; border-radius: 12px; color: #fff;}
.btn-login-enviar{border: 1px solid #fff; color: #fff; border-radius: 20px; background-color: transparent;margin-left: 58%; cursor: pointer;}
.btn-login-enviar:hover{background-color: #009EBC; border: none;}
.btn-login-enviar:focus{background-color: #009EBC; border: none;}
.btn-cadastar{background-color: #004E9B; color: #fff; margin: 2em 0; float: right;}
.btn-cancelar{background-color: tomato;}
.btn-voltar-link{display: inline-block; width: 150px; margin: 1.65em 0; text-align: center; padding: .65em 0; color: #fff; cursor: pointer;}

/* Style Formulario login */
.fundo, .background-login{background-image: linear-gradient(to right, #009EBC, #004E9B); height: 100%; padding-top: 3em;}
.background-login
.titulo-login{width: 300px; margin: 0 auto 0 auto; font-size: 1.8em; font-weight: 300; color: #fff;}
#form-login{width: 300px; margin: 2em auto 0 auto; padding: 0 .5em;}
.label-login{width: 100%; font-size: 0.9em; line-height: 1.35em; margin: .5em 0; color: #fff;}
#form-login input{width: 100%; margin-top: .5em; padding: .5em; font-size: 0.9em;}
#form-login input[type="text"]{margin-bottom: 1.5em;}
.nova-senha, .login-cadastre{font-size: .7em; line-height: 1.05em; color: #fff; margin: 1em 0 3em 0;}
.nova-senha:hover, .login-cadastre:hover{text-decoration: underline;}
.nova-senha{float: left;}
.login-cadastre{float: right; }

/* Dashboard */
.header-dashboard{background: #0c0909; color: #fff;}
.header-dashboard h1{font-size: 1.2em;}

/* Style tabela */
#table-dashboard{border-collapse: collapse; width: 100%; text-align: center; font-size: .9em; line-height: 1.35em;}
#table-dashboard th, #table-dashboard td{border: 1px solid #ddd;padding: .4em;}
#table-dashboard th {padding-top: 0.6em; padding-bottom: 0.6em; text-align: center; background-color: #009EBC; color: #fff; text-transform: uppercase;}
#table-dashboard tr:nth-child(even){background-color: #f2f2f2;}
#table-dashboard tr:hover {background-color: #ddd;}

/* Style formulario cadastro */
#form-cadastro-cliente{width: 720px; margin: 5em auto 0 auto; font-size: .8em; line-height: 1.2em; padding: 1em;}
#form-cadastro-cliente legend{width: 100%; font-size: 1.2em; line-height: 1.8em; color: #fff; font-weight: 500; background-color: #009EBC; padding: .5em 0; margin-bottom: 3em; display: block; text-align: center;}

label{color:#009EBC; font-size: .8rem;}

.container-input{position: relative; width: 100%; margin: 1.5em 0;}
.container-input input{width: 100%; border: none; border-bottom: 1px solid #009EBC; outline: none; font-size: 1rem;}
.container-input label{top: 0;left: 0;right: 0;color: #009EBC;display: flex;align-items: center;position: absolute; font-size: .8rem;cursor: text; transition: .2s ease-in-out;}
.container-input input, .container-input label {width: 100%; height: 3em;}

.input-floats{width: 45%; margin: 1em 0 2em 0;}
.float-left{float: left;}
.clear{clear: both;}
.m-right{margin-right: 3.4em;}

#estado, #estado_civil{margin: 1em 0; width: 20%; height: 2.5em; border: 1px solid #009EBC; background-color: #009EBC; color: #fff; padding: .5em 0}
label[for="estado"]{margin-right: 1em;}
select{font-weight: 600; font-size: .8em;}
/* Interation */
.container-input input:valid, .container-input input:focus {border-bottom: 1px solid #004E9B;}
.container-input input:valid + label, .container-input input:focus + label {color: #004E9B;font-size: 1em; top: -30px; pointer-events: none;}

/* Estilizando os alerta ajax */
.dados-em-brancos{text-align: right;}
.alert{font-size: 0.8em; font-weight: 600; margin: .25em 0;}
.success{color: #388a18;}
.warning{color: #c94d37;}
/* Footer */
footer{width: 100%; text-align: center; font-size: .7em; line-height: 1.05em; clear: both; margin-top: 7%; margin-bottom: 2%; color: #000;}