* {
	box-sizing: border-box;
}

body {
	padding: 0 auto;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-family: calibri;
}

#logo {
	width: 120pt;
	margin-left: 25%;
	margin-top: 5pt;
}

section {
	width: 100%;
	height: 100%;
	float: left;
	background-color: skyblue;
}

aside {
	width: 30%;
	background-color: pink;
	float: left;
	margin: 6.2%;
	padding: 2.5%;
	position: absolute;
	margin-top: 70pt;
}

#menu {
	width: 100%;
	position: fixed;
	z-index: 1;
	box-shadow: 1pt 0pt 10pt 0pt steelblue;
}

#left {
	width: 30%;
	height: 60pt;
	float: left;
}

#right {
	width: 70%;
	height: 60pt;
	float: right;
}

#right nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-top: -18pt;
}

#right nav ul li a span p {
	border: 2pt solid white;
	border-radius: 2pt;
	margin-left: 30pt;
}

#right nav li a {
	text-decoration: none;
}

#right nav li a p {
	font-weight: bold;
	font-size: 17pt;
	color: white;
	margin-right: 18pt;
	margin-left: 6pt;
	padding: 8pt;
	border-radius: 8pt;
}

#right nav li a:hover p {
	color: black;
}

#Secundario h1 {
	font-size: 25pt;
	color: white;
	font-weight: bold;
}

#Secundario h2 {
	margin-top: 70pt;
}

#Secundario h2 span a {
	font-size: 20pt;
	color: white;
	text-decoration: none;
	padding: 6pt 25pt;
	border-radius: 50pt;
	background-color: black;
}

#Secundario h2 span a:hover {

}

#menu_icon {
	display: none;
}

@media screen and (max-width: 420px) {
	/* Smartphone */

		#menu {
			width: 100%;
			height: 35pt;
		}

		img#logo {
			float: right;
			width: 40%;
		}

		#left {
			height: 30pt;
			width: 190pt;
			margin-top: -7pt;
		}

		#menu_icon {
			display: block;
			float: left;
		}

		#menu_icon img {
			width: 40pt;
			margin-top: 6pt;
			margin-left: 2pt;
		}

		#right {
			display: none;
		}

		#menu_oculto {
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
		}

		#Principal {
			width: 100%;
			height: 100%;
		}

		#Secundario {
			width: 90%;
			height: 50%;
			padding: 10pt;
			text-align: center;
		}

		#Secundario h1 {
			font-size: 16pt;
		}

		#Secundario h2 span a {
			font-size: 10pt;
		}

}*

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	img#logo {
		margin-top: 15pt;
		width: 70%;
	}

	#left {
		height: 50pt;
	}

	#right {
		width: 100%;
		height: 50pt;
	}

	#right nav ul li a p {
		font-size: 13pt;
		margin-right: 6pt;
		text-align: center;
		line-height: 20pt;
	}

	#right nav ul li a span p{
		position: absolute;
		right: 50pt;
		top: 0pt;
	}

	#Principal {
		width: 100%;
		height: 100%;
	}

	#Secundario {
		margin-top: 120pt;
		width: 50%;
		height: 60%;
	}

	#Secundario h1 {
		font-size: 20pt;
	}

	#Secundario h2 {
		margin-top: 30pt;
	}


	#Secundario h2 span a {
		font-size: 16pt;
	}

} 

/* Small devices (portrait tablets and large phones, 600px and up) --- verificar */
@media only screen and (max-width: 600px) {

	#menu {
		width: 100%;
		height: 35pt;
	}

	img#logo {
		margin-top: 5pt;
		float: right;
		width: 40%;
	}

	#left {
		height: 30pt;
		width: 190pt;
		margin-top: -7;
	}

	#menu_icon {
		display: block;
		float: left;
	}

	#menu_icon img {
		width: 40pt;
		margin-top: 6pt;
		margin-left: 2pt;
	}

	#right {
		display: none;
	}

	#menu_oculto {
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	#Principal {
		width: 100%;
		height: 100%;
	}

	#Secundario {
		width: 90%;
		height: 50%;
		padding: 10pt;
		text-align: center;
	}

	#Secundario h1 {
		font-size: 16pt;
	}

	#Secundario h2 span a {
		font-size: 10pt;
	}

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

	img#logo {
		margin-top: 15pt;
		width: 70%;
	}

	#left {
		height: 50pt;
	}

	#right {
		width: 100%;
		height: 70pt;
		margin-top: 20pt;
	}

	#right nav ul li a p {
		font-size: 20pt;
		margin-right: 6pt;
		text-align: center;
		line-height: 30pt;
	}

	#right nav ul li a span p{
		font-size: 15pt;
		position: absolute;
		right: 50pt;
		top: 0pt;
	}

	#right nav ul li a span p{
		padding: 10pt 20pt;
	}

	#Principal {
		width: 100%;
		height: 100%;
	}

	#Secundario {
		margin-top: 180pt;
		width: 50%;
		height: 40%;
	}

	#Secundario h1 {
		font-size: 25pt;
	}

	#Secundario h2 {
		margin-top: 50pt;
	}


	#Secundario h2 span a {
		font-size: 20pt;
	}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

	img#logo {
		margin-top: 15pt;
		width: 70%;
	}

	#left {
		height: 50pt;
	}

	#right {
		width: 100%;
		height: 80pt;
		margin-top: 20pt;
	}

	#right nav ul li a p {
		font-size: 28pt;
		margin-right: 6pt;
		text-align: center;
		line-height: 30pt;
	}

	#right nav ul li a span p{
		font-size: 25pt;
		position: absolute;
		right: 50pt;
		top: -7pt;
	}

	#right nav ul li a span p{
		padding: 10pt 20pt;
	}

	#Principal {
		width: 100%;
		height: 100%;
	}

	#Secundario {
		margin-top: 180pt;
		width: 50%;
		height: 50%;
	}

	#Secundario h1 {
		font-size: 35pt;
	}

	#Secundario h2 {
		margin-top: 60pt;
	}


	#Secundario h2 span a {
		font-size: 30pt;
	}

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}